*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
@font-face { font-family: bubble; src:url(assets/fredoka-one.one-regular.ttf); } 

body{
    background-color: beige;
    background-image: url(assets/bg.png);
    background-repeat: repeat;
    background-size: auto;
    display: flex;
    flex-direction: column;
}

header{
    background-color: wheat;
    opacity: 0;
    padding-bottom: 20px;
    animation: entrance 1s .75s ease-in-out forwards;
}

#logo{
    animation: entrance 1s 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-bottom: 30px;
    opacity: 0;
}



hr{
    margin-left: 10%;
    width: 80%;
    height: 4px;
    background-color: black;
    border: 0;
    border-radius: 50%;
}

.navbar ul{
    display: flex;
    justify-content: center;
}
.navbar li, a{
    padding: 10px;
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
footer{
    background-color: wheat;
    display: flex;
    justify-content: center;
}

#main{
    animation: fade-in 0.5s 2s ease-in-out forwards;
    opacity: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 22%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px; /* Adjust the gap as needed */
}
@media screen and (max-width: 768px) {
    #main {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        padding-left: 40px;
        width: auto;
    }
    #main .group{
        width: 80%;
    }
    #label {
        font-size: 20px;
    }
    .group{
        padding: 100px;
    }
}
#label{
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 5px solid white;
    width: 100%;   
}

.group table{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

.group{
    background-color: rgba(234, 234, 234, 0.603);
    border-radius: 20px;
    padding: 3%;
    width: 50%;
    height: fit-content;
}

td{
    padding-right: 10px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes entrance{
    0%{
        opacity: 0;
        transform: translateY(-20vw);
    }100%{
        opacity: 1;
        transform: none;  
    }
}
@keyframes fade-in{
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }

}

h1{
    animation: fade-in 0.5s 2s ease-in-out forwards;
    opacity: 0;
    font-family: bubble;
    font-size: 5vh;
}
